@import "../../scss/variables";
@import "../../scss/mediaQueries";

.burger-icon {
  color: $blue;
  font-size: 50px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  .logo-text {
    padding-left: 10px;
    h1 {
      font-family: "Segoe UI";
      color: $blue;
      font-size: 34px;
      line-height: 24px;
      margin: 0;
      padding: 0;
    }
    a {
      margin: 0;
      padding: 0;
      color: white;
      font-size: 14px;
      line-height: 10px;
    }
  }
}

.navbar-dark .navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: 600;
  font-family: "Segoe UI";
  &:focus {
    color: white;
    text-decoration: underline;
  }
  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.head-social-media {
  display: none;
}

@include responsive(lg) {
  .navbar-nav {
    .head-social-media {
      display: block;
      margin-left: 1em;
      a {
        font-size: 20px;
        color: white;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
