//colors

$oxford-blue: #0b132b;
$space-cadet: #1c2541;
$blue: #2b5497;
$independence: #3a506b;
$max-blue-green: #5bc0be;

@font-face {
    font-family: 'Segoe UI';
    src: url(../assets/fonts/SegoeUI.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    }