@import "../../scss/variables";
@import "../../scss/mediaQueries";

.aboutus,
.first-aboutus,
.third-aboutus,
.fourth-aboutus {
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 2;
  padding: 1em;
  background-color: $independence;
  color: white;
  width: 100%;
  height: 100%;
  min-width: 320px;
  p {
    position: relative;
    z-index: 2;
  }

  .first,
  .third,
  .fourth {
    display: none;
  }
}



.aboutus {
  .first-paw,
  .second-paw,
  .third-paw,
  .fourth-paw,
  .fifth-paw {
    z-index: 1;
    color: $max-blue-green;
    opacity: 0.5;
    position: absolute;
    top: 3%;
    left: 44%;
    font-size: 2em;
    transform: rotate(-135deg);
  }

  .second-paw {
    top: 5%;
    left: 30%;
  }

  .third-paw {
    top: 17%;
    left: 28%;
  }

  .fourth-paw {
    top: 18%;
    left: 15%;
  }

  .fifth-paw {
    top: 30%;
    left: 10%;
  }
}

@include responsive(sm) {
  .aboutus {
    font-size: 18px;
    padding: 1em;
  }


}

@include responsive(md) {
  .aboutus {
    font-size: 20px;
  }

}

@include responsive(lg) {
  .aboutus {
    font-size: 20px;
    padding: 2em;

    .first {
      display: block;
    }
  }
}

@include responsive(xl) {
  .aboutus {
    font-size: 22px;
    line-height: 1.5;
    padding: 1em;

    .first,
    .third,
    .fourth {
      display: block;
    }
  }

}

@include responsive(xxl) {
  .aboutus {
    font-size: 20px;
    line-height: 2;
    padding: 2em;
  }
}
